In [12]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [13]:
df=pd.read_csv("./train.csv/train.csv")
df

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0,0,0,T,Y,Green,Triangle,Snake,Finland,...,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2,0
1,1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,...,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8,0
2,2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,...,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2,0
3,3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,...,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1,1
4,4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,...,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,299995,0,0,0,T,N,Red,Trapezoid,Snake,India,...,e027decef,1,Contributor,Freezing,k,K,dh,3,8,0
299996,299996,0,0,0,F,Y,Green,Trapezoid,Lion,Russia,...,80f1411c8,2,Novice,Freezing,h,W,MO,3,2,0
299997,299997,0,0,0,F,Y,Blue,Star,Axolotl,Russia,...,314dcc15b,3,Novice,Boiling Hot,o,A,Bn,7,9,1
299998,299998,0,1,0,F,Y,Green,Square,Axolotl,Costa Rica,...,ab0ce192b,1,Master,Boiling Hot,h,W,uJ,3,8,1
299999,299999,0,0,0,F,Y,Blue,Trapezoid,Dog,Russia,...,ad1af2b45,3,Contributor,Freezing,i,R,tP,1,3,0

In [14]:
X=df.drop(['day','id','month','ord_3','ord_4','ord_5','nom_8','nom_9','nom_5','nom_6','nom_7','target'],axis=1)
y=df['target']
X

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,ord_0,ord_1,ord_2
0,0,0,0,T,Y,Green,Triangle,Snake,Finland,Bassoon,2,Grandmaster,Cold
1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,Piano,1,Grandmaster,Hot
2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,Theremin,1,Expert,Lava Hot
3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,Oboe,1,Grandmaster,Boiling Hot
4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,Oboe,1,Grandmaster,Freezing
...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,0,0,0,T,N,Red,Trapezoid,Snake,India,Oboe,1,Contributor,Freezing
299996,0,0,0,F,Y,Green,Trapezoid,Lion,Russia,Piano,2,Novice,Freezing
299997,0,0,0,F,Y,Blue,Star,Axolotl,Russia,Oboe,3,Novice,Boiling Hot
299998,0,1,0,F,Y,Green,Square,Axolotl,Costa Rica,Piano,1,Master,Boiling Hot
299999,0,0,0,F,Y,Blue,Trapezoid,Dog,Russia,Bassoon,3,Contributor,Freezing

In [15]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.50)

In [16]:
#Label encoding
#Consider labeled encoded features
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le.fit(X['nom_0'])

X['nom_0']=le.transform(X['nom_0'])

le.fit(X['nom_1'])
X['nom_1']=le.transform(X['nom_1'])

le.fit(X['nom_2'])
X['nom_2']=le.transform(X['nom_2'])

le.fit(X['nom_3'])
X['nom_3']=le.transform(X['nom_3'])

le.fit(X['nom_4'])
X['nom_4']=le.transform(X['nom_4'])

le.fit(X['ord_1'])
X['ord_1']=le.transform(X['ord_1'])

le.fit(X['ord_2'])
X['ord_2']=le.transform(X['ord_2'])

le.fit(X['bin_3'])
X['bin_3']=le.transform(X['bin_3'])

le.fit(X['bin_4'])
X['bin_4']=le.transform(X['bin_4'])

In [17]:
X

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,ord_0,ord_1,ord_2
0,0,0,0,1,1,1,5,5,3,0,2,2,1
1,0,1,0,1,1,1,4,3,5,2,1,2,3
2,0,0,0,0,1,0,4,4,5,3,1,1,4
3,0,1,0,0,1,2,4,5,0,1,1,2,0
4,0,0,0,0,0,2,4,4,0,1,1,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,0,0,0,1,0,2,4,5,4,1,1,0,2
299996,0,0,0,0,1,1,4,4,5,2,2,4,2
299997,0,0,0,0,1,0,3,0,5,1,3,4,0
299998,0,1,0,0,1,1,2,0,2,2,1,3,0
299999,0,0,0,0,1,0,4,2,5,0,3,0,2

In [ ]:
#hierarichal clustering
from sklearn.cluster import AgglomerativeClustering

agc=AgglomerativeClustering(linkage='average',n_clusters=2,metric='euclidean',compute_full_tree=False)
clusters=agc.fit(X)